.packsWrp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.packsSideBar {
    width: 20%;
    background: rgba(0, 224, 128, 0.4);
    color: black;
}

.packsList {
    width: 100%;
    background-color: #fff;
}

.actionsBtn {
    margin-left: 20px;
}

.backBtn {
    height: 50px;
    width: 50px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.backBtn:hover {
    border: 1px solid grey;
    border-radius: 50%;
    color: white;
    background-color: lightgray;
}

.packsListAdd {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.searchInput {
    width: 50%;
}

.addNewCardModal {
    background-color: #000;
}


